<!DOCTYPE html>
<html>
<head>
	<title>IEM EDUCHAT</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="container">
		<div class="chatbox">
			<div class="header">
				<h4>IEM EDUCHAT</h4>
			</div>
			<div class="conversation">
				<ul id="messages">
					<!-- Bot messages will be displayed here -->
				</ul>
			</div>
			<div class="input-group">
				<input id="user-input" type="text" class="form-control" placeholder="Type your message...">
				<button id="send-btn" class="btn btn-primary">Send</button>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#send-btn').on('click', function(){
				var user_input = $('#user-input').val();
				$('#user-input').val('');
				if (user_input != '') {
					$('#messages').append('<li class="user-msg">' + user_input + '</li>');
					$.get('/get', {msg: user_input}).done(function(data){
						$('#messages').append('<li class="bot-msg">' + data + '</li>');
					});
				}
			});

			$('#user-input').keypress(function(event){
				var keycode = (event.keyCode ? event.keyCode : event.which);
				if (keycode == '13') {
					$('#send-btn').click();
				}
			});
		});
	</script>
</body>
</html>
